body {
    background-color: #1605cd4e;
    font-family: Arial, sans-serif;
    text-align: center;
}

form {
    background-color: white;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

input, textarea {
    width: 90%;
    margin: 5px 0;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}